<nav class="navbar nav">
  <div class="col-md-12">
    <p><b>วิเคราะห์บอล</b></p>
  </div>
</nav>

<!-- <div class="dropdown col-md-12 padding" style="text-align: center;">
  <button class="col-md-12 btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    รวมทุกลีก
  </button>
  <div class="dropdown-menu col-md-12" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">พรีเมียร์ลีก</a>
    <a class="dropdown-item" href="#">ลาลิกา</a>
    <a class="dropdown-item" href="#">กัลโซ่ เซเรีย อา</a>
    <a class="dropdown-item" href="#">บุนเดสลีกา</a>
    <a class="dropdown-item" href="#">ไทยลีก</a>
    <a class="dropdown-item" href="#">แชมเปี้ยนส์ลีก</a>
    <a class="dropdown-item" href="#">ยูโรปาลีก</a>
    <a class="dropdown-item" href="#">ฟุตบอลโลก</a>   
  </div>
</div> -->

<div class="padding col-md-12">
  <select class="custom-select" style="text-align: center;" id="inlineFormCustomSelect">
    <option selected>รวมทุกลีก</option>
    <option value="1">พรีเมียร์ลีก</option>
    <option value="2">ลาลิกา</option>
    <option value="3">กัลโซ่ เซเรีย อา</option>
    <option>บุนเดสลีกา</option>
    <option>ไทยลีก</option>
    <option>ยูโรปาลีก</option>
    <option>แชมเปี้ยนส์ลีก</option>
    <option>ฟุตบอลโลก</option>
  </select>
</div>

<table class="table" value="1">
  <!-- <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead> -->
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>