
.navbar, navbar-dark, bg-dark{
    bottom: 0;
    position: fixed;
    width: 100%;
    font-size: 11px ;
    text-align: center;
    /* padding-top: unset; */
    padding-bottom: unset;
}


.nav-link {
    display: block;
    padding: .3rem;
}

.active{
    color: green;
}