<nav class="navbar navbar-dark bg-dark">
    <a class="nav-item nav-link disabled" routerLink="new" routerLinkActive="active">
        <img src="assets/icon/News-1.png" style="width:30px;height:30px">
        <p>ข่าว</p>
    </a>

    <a class="nav-item nav-link disabled" routerLink="analyze" routerLinkActive="active">
        <img src="assets/icon/analysis-1.png" style="width:30px;height:30px">
        <p>วิเคราะห์บอล</p>
    </a>

    <a class="nav-item nav-link disabled" routerLink="match" routerLinkActive="active">
        <img src="assets/icon/Stadium-1.png" style="width:30px;height:30px;">
        <p>แมตช์</p>
    </a>

    <a class="nav-item nav-link disabled" routerLink="table" routerLinkActive="active">
        <img src="assets/icon/Cup-1.png" style="width:30px;height:30px;">
        <p>ตารางคะแนน</p>
    </a>

    <a class="nav-item nav-link disabled" routerLink="menu" routerLinkActive="active">
        <img src="assets/icon/baseline_reorder_white_18dp.png" style="width:30px;height:30px;">
        <p>เมนู</p>
    </a>
</nav>


<!-- <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Carousel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse show" id="navbarCollapse" style="">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav> -->