.head {
    font-size: 27px;
    text-align: center;
    color: white;
}


.btn-outline-secondary {
    color: black;
    background-color: transparent;
    background-image: none;
    border-color:white;
}

body {
    background-color: #ECECEC;
}

.padding {
    padding-left: unset;
    padding-right: unset;
    padding-top: 10px;
    padding-bottom: 10px;
}