<nav class="navbar-gradient">
  <div class="col-md-12">
    <img class="icon" src="assets/photo/PLwhite.png">&nbsp;
    <h5 class="title">พรีเมียร์ลีค อังกฤษ</h5>

    <div class="dropdown">
      <p class="text-right">ทีม</p>
      <!-- <a class="dropbtn dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-arrow-circle-down"></i></a> -->
      <button class="dropbtn"data-toggle="dropdown"><i class="fa fa-arrow-circle-down" ></i></button>
      <div class="dropdown-content text-center">
        <div class="row">
          <a href="#"><img src="assets/photo/liverpool.png"><br>ลิเวอร์พูล</a>
          <a href="#"><img src="assets/photo/liverpool.png"><br>ลิเวอร์พูล</a>
          <a href="#"><img src="assets/photo/liverpool.png"><br>ลิเวอร์พูล</a>
          <a href="#"><img src="assets/photo/liverpool.png"><br>ลิเวอร์พูล</a>
        </div>

        <div class="row">
          <a href="#"><img src="assets/photo/liverpool.png"><br>ลิเวอร์พูล</a>
          <a href="#"><img src="assets/photo/liverpool.png"><br>ลิเวอร์พูล</a>
          <a href="#"><img src="assets/photo/liverpool.png"><br>ลิเวอร์พูล</a>
          <a href="#"><img src="assets/photo/liverpool.png"><br>ลิเวอร์พูล</a>
        </div>

        <div class="row">
          <a href="#"><img src="assets/photo/liverpool.png"><br>ลิเวอร์พูล</a>
          <a href="#"><img src="assets/photo/liverpool.png"><br>ลิเวอร์พูล</a>
          <a href="#"><img src="assets/photo/liverpool.png"><br>ลิเวอร์พูล</a>
          <a href="#"><img src="assets/photo/liverpool.png"><br>ลิเวอร์พูล</a>
        </div>

        <div class="row">
          <a href="#"><img src="assets/photo/liverpool.png"><br>ลิเวอร์พูล</a>
          <a href="#"><img src="assets/photo/liverpool.png"><br>ลิเวอร์พูล</a>
          <a href="#"><img src="assets/photo/liverpool.png"><br>ลิเวอร์พูล</a>
          <a href="#"><img src="assets/photo/liverpool.png"><br>ลิเวอร์พูล</a>
        </div>
      </div>
    </div>

  </div>

  <div class="col-md-12 no-padding">
    <div class="tab">
      <ul class="nav headnav-tab text-center" id="tab">
        <li class="active"><a data-toggle="tab" href="#inger1">ข่าว</a></li>
        <li><a data-toggle="tab" href="#inger2">วิเคราะห์</a></li>
        <li><a data-toggle="tab" href="#inger3">แมตซ์</a></li>
        <li><a data-toggle="tab" href="#inger4">ตาราง</a></li>
        <li><a data-toggle="tab" href="#inger5">สถิติ</a></li>
      </ul>
    </div>
  </div>

</nav>