<footer class="footer" style="margin-left: unset;">

    <nav class="navbar bg-dark menu">

        <a class="nav-item nav-link" routerLink="new" routerLinkActive="active">
            <img src="assets/icon/News-1.png" style="width:30px;height:30px">
            <p>ข่าว</p>
        </a>

        <a class="nav-item nav-link" routerLink="analyze" routerLinkActive="active">
            <img src="assets/icon/analysis-1.png" style="width:30px;height:30px">
            <p>วิเคราะห์บอล</p>
        </a>

        <a class="nav-item nav-link" routerLink="fixture" routerLinkActive="active">
            <img src="assets/icon/Stadium-1.png" style="width:30px;height:30px;">
            <p>แมตช์</p>
        </a>

        <a class="nav-item nav-link" routerLink="table" routerLinkActive="active">
            <img src="assets/icon/Cup-1.png" style="width:30px;height:30px;">
            <p>ตารางคะแนน</p>
        </a>

        <a class="nav-item nav-link" routerLink="menu" routerLinkActive="active">
            <img src="assets/icon/baseline_reorder_white_18dp.png" style="width:30px;height:30px;">
            <p>เมนู</p>
        </a>
    </nav>
</footer>
