/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Kanit|Prompt');

body{
    font-family: 'Prompt', sans-serif;
}

.bg {
    background-color: green;
    height: 55px;
}


li{
    list-style: none;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: unset;
    border: 1px solid transparent;
}


.livesoc {
    background-image: 'assets/photo/Photo-app.jpg';
}

.report {
    background-color: #141E28 ;
    height: 187px;
    padding: 20px;
}