<nav class="navbar nav bg">

    <span class="fa fa-angle-left fa-w-14" style="font-size: 11px;color: white;" (click)="back()"> กลับ</span>
    <div class="col-md-12">
        <p class="head">อ่านข่าวฟุตบอล</p>
    </div>
</nav>

<div style="padding: 10px;">
    <P style="font-size: 10PX;">โพสต์ข่าวเมื่อ : จันทร์ 18 พฤษภาคม 2563 เวลา 14:18 น.</P>

    <p style="font-size: 20PX;"><b>แข้ง “ปีศาจแดง” ตรวจโควิด-19 ก่อนเริ่มซ้อมวีคนี้</b></p>
</div>

<div style="text-align: center;">
<img class="img" src="assets/new/Manchester-United-1.png">
</div>

<div style="padding: 20px;">
    <p style="font-size: 20PX;"><b>แข้ง “ปีศาจแดง” แมนเชสเตอร์ ยูไนเต็ด เข้ารับการตรวจหาเชื้อไวรัสโควิด-19
            เพื่อเตรียมพร้อมจะกลับมาฝึกซ้อมในสัปดาห์นี้</b></p>


    <p>อย่างที่รู้กันดีว่า แมนเชสเตอร์ ยูไนเต็ด มีแผนจะกลับมาฝึกซ้อมในสัปดาห์นี้
        หลังจากที่ต้องแยกย้ายกันไปเก็บตัวฝึกซ้อมด้วยตัวเองที่บ้าน
        เพื่อหลีกเลี่ยงสถานการณ์การแพร่ระบาดของเชื้อไวรัสโควิด-19

        ซึ่งเมื่อวันอาทิตย์ที่ผ่านมานักเตะและสตาฟฟ์โค้ชของ “ปีศาจแดง” เดินทางมาที่แคร์ริงตัน
        เพื่อเข้ารับการตรวจไวรัสโควิด-19 ก่อนที่จะแยกย้ายกันกลับ</p>
</div>