<div class="content-wrapper" style="margin-left: unset;">
</div>

<footer class="main-footer footer">
    <nav class="navbar navbar-dark bg-dark menu">
        <a class="nav-item nav-link disabled" routerLink="new" routerLinkActive="active">
            <img src="assets/icon/News-1.png" style="width:30px;height:30px">
            <p>ข่าว</p>
        </a>

        <a class="nav-item nav-link disabled" routerLink="analyze" routerLinkActive="active">
            <img src="assets/icon/analysis-1.png" style="width:30px;height:30px">
            <p>วิเคราะห์บอล</p>
        </a>

        <a class="nav-item nav-link disabled" routerLink="match" routerLinkActive="active">
            <img src="assets/icon/Stadium-1.png" style="width:30px;height:30px;">
            <p>แมตช์</p>
        </a>

        <a class="nav-item nav-link disabled" routerLink="table" routerLinkActive="active">
            <img src="assets/icon/Cup-1.png" style="width:30px;height:30px;">
            <p>ตารางคะแนน</p>
        </a>

        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
            <img src="assets/icon/baseline_reorder_white_18dp.png" style="width:30px;height:30px;">
            <p>เมนู</p>
        </a>
    </nav>
</footer>

<aside class="control-sidebar control-sidebar-dark" style="width: 100%; top: 0px;">
    <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
    </ul>
</aside>