
                <div style="height: auto;">
                    <p style="font-size: 22px; text-align: center;">บทวิเคราะห์<b></b></p>
                    <p style="padding: 10px;">อาร์เซนอล แม้จะเจ๊าเกมลีกมา 4 นัดท้าย แต่ทว่าเนื้อ
                        แท้ของพวกเขาก็ยังเหนือกว่าคู่แข่งวันนี้พอสมควร
                        จึงมองว่าน่าจะถึงเวลาปลดล็อกได้แล้ว นอกจากนี้ทีม
                        เยือน นิวคาสเซิล ผลงานในลีกก็ใช่ว่าดีนัก ด้วยการ
                        คว้าชัย เพียงหนเดียวตลอด 7 แมตช์ท้าย แนวรับยัง
                        หละหลวมเสียถึง 12 ประตู นั่น เป็นเหตุผลว่าทำไมพวก
                        เขาจึงเก็บผลการแข่งที่ต้องการไม่ค่อยได้ และเชื่อว่า
                        ด้วยคุณภาพเกมรุกของ ไอ้ปืนใหญ่น่าจะเจาะแผงหลัง
                        ของคู่แข่งวันนี้ได้สบาย</p>
                </div>

                <div style="height: 91px; background-color: white; text-align: center; font-size: 20px;">
                    <p><b>ผลสกอร์ที่คาด</b></p>
                    <button class="btn btn-success" style="font-size: 22px;">3 - 1</button>

                </div>

                <div style="height: 13px;"></div>

                <div style="height: 121px; background-color: white; font-size: 20px;">
                    <p class="center"><b>ราคาแฮนดิแคป</b></p>

                </div>

                <div style="height: 13px;">

                </div>

                <div style="height: 82px; background-color: white; font-size: 20px;">
                    <p class="center"><b>อัตราต่อรอง</b></p>

                </div>
