<nav class="navbar nav bg" style="height: 107px;">
    <div class="col-md-12">
        <p class="head">ตาราง</p>

        <div class="col-12 col-sm-6" style="padding: unset;">

            <p class="second">พรีเมียร์ลีก อังกฤษ</p>
        </div>
    </div>
</nav>

<table class="table">
    <thead>
        <tr>
            <th>อันดับ</th>
            <th>ทีม</th>
            <th></th>
            <th>แข่ง</th>
            <th>ผลต่าง</th>
            <th>คะแนน</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
        </tr>
    </tbody>
</table>