<div class="content-wrapper" style="margin-left: unset; background-image: url('assets/photo/Photo-app.jpg');">

    <!-- <marquee behavior=alternate direction=up scrollamount=4 scrolldelay=65 height=812px
        style='Text-align: center;filter:wave(add=0,phase=1, freq=1,strength=15,color=#FFFFFF)'> -->
    <div style="text-align: center;">
        <img src="assets/photo/livescore888.png" style="height: 75; width: 74px; padding-top: 33px;"><br>
        <p style="font-size: 29px; color: white;">LIVESOCCER 888</p>


        <!-- <button style="color: white;" type="button" class="btn btn-outline-success">ยินดีต้อนรับ</button> -->
    </div>
    <!-- </marquee> -->
</div>

<app-footer></app-footer>