.footer, main-footer  {
    bottom: 0;
    position: fixed;
    width: 100%;
    font-size: 10px ;
    text-align: center;
    /* padding-top: unset; */
    padding: unset;
    /* height: 60px; */
}

.menu {
   padding: unset;
    height: 60px;
} 

.active{
    color: green;
}

li {
    margin: 15px;
}