<nav class="navbar nav bg" style="height: 55px;">
  <div class="col-md-12">
    <p class="head">วิเคราะห์บอล</p>
  </div>
</nav>

<div class="padding col-md-12" style="padding-right: 30%; padding-left: 30%;">
  <select class="custom-select" style="text-align: center; background-color: #575757; color: white; height: 35px; font-size: 16px;" id="inlineFormCustomSelect;">
    <option selected>รวมทุกลีก</option>
    <option value="1">พรีเมียร์ลีก</option>
    <option value="2">ลาลิกา</option>
    <option value="3">กัลโซ่ เซเรีย อา</option>
    <option value="4">บุนเดสลีกา</option>
    <option value="5">ไทยลีก</option>
    <option value="6">ยูโรปาลีก</option>
    <option value="7">แชมเปี้ยนส์ลีก</option>
    <option value="8">ฟุตบอลโลก</option>
  </select>
</div>

<table class="table">
  <tbody>
    <tr>
      <th style="font-size: 14px; padding-top: 20px;">11 พ.ค.</th>
      <td style="padding-top: 20px;"><img src="assets/photo/premier.png" alt="premier" style="height: 30px; width: 30px;"></td>
      <td style="font-size: 16px; padding-top: 20px;">อาร์เซนอล vs ลิเวอร์พูล</td>
      <td style="padding-top: 20px;" class="ml-3"> <a href="#" class="next round" style="float: right;">&#8250;</a></td>
    </tr>

    <tr>
      <th style="font-size: 14px; padding-top: 20px;">11 พ.ค.</th>
      <td style="padding-top: 20px;"><img src="assets/photo/premier.png" alt="premier" style="height: 30px; width: 30px;"></td>
      <td style="font-size: 16px; padding-top: 20px;">อาร์เซนอล vs ลิเวอร์พูล</td>
      <td style="padding-top: 20px;" class="ml-3"> <a href="#" class="next round" style="float: right;">&#8250;</a></td>
    </tr>

    <tr>
      <th style="font-size: 14px; padding-top: 20px;">11 พ.ค.</th>
      <td style="padding-top: 20px;"><img src="assets/photo/premier.png" alt="premier" style="height: 30px; width: 30px;"></td>
      <td style="font-size: 16px; padding-top: 20px;">อาร์เซนอล vs ลิเวอร์พูล</td>
      <td style="padding-top: 20px;" class="ml-3"> <a href="#" class="next round" style="float: right;">&#8250;</a></td>
    </tr>

    <tr>
      <th style="font-size: 14px; padding-top: 20px;">11 พ.ค.</th>
      <td style="padding-top: 20px;"><img src="assets/photo/premier.png" alt="premier" style="height: 30px; width: 30px;"></td>
      <td style="font-size: 16px; padding-top: 20px;">อาร์เซนอล vs ลิเวอร์พูล</td>
      <td style="padding-top: 20px;" class="ml-3"> <a href="#" class="next round" style="float: right;">&#8250;</a></td>
    </tr>

    <tr>
      <th style="font-size: 14px; padding-top: 20px;">11 พ.ค.</th>
      <td style="padding-top: 20px;"><img src="assets/photo/premier.png" alt="premier" style="height: 30px; width: 30px;"></td>
      <td style="font-size: 16px; padding-top: 20px;">อาร์เซนอล vs ลิเวอร์พูล</td>
      <td style="padding-top: 20px;" class="ml-3"> <a href="#" class="next round" style="float: right;">&#8250;</a></td>
    </tr>

    <tr>
      <th style="font-size: 14px; padding-top: 20px;">11 พ.ค.</th>
      <td style="padding-top: 20px;"><img src="assets/photo/premier.png" alt="premier" style="height: 30px; width: 30px;"></td>
      <td style="font-size: 16px; padding-top: 20px;">อาร์เซนอล vs ลิเวอร์พูล</td>
      <td style="padding-top: 20px;" class="ml-3"> <a href="#" class="next round" style="float: right;">&#8250;</a></td>
    </tr>

    <tr>
      <th style="font-size: 14px; padding-top: 20px;">11 พ.ค.</th>
      <td style="padding-top: 20px;"><img src="assets/photo/premier.png" alt="premier" style="height: 30px; width: 30px;"></td>
      <td style="font-size: 16px; padding-top: 20px;">อาร์เซนอล vs ลิเวอร์พูล</td>
      <td style="padding-top: 20px;" class="ml-3"> <a href="#" class="next round" style="float: right;">&#8250;</a></td>
    </tr>

    <tr>
      <th style="font-size: 14px; padding-top: 20px;">11 พ.ค.</th>
      <td style="padding-top: 20px;"><img src="assets/photo/premier.png" alt="premier" style="height: 30px; width: 30px;"></td>
      <td style="font-size: 16px; padding-top: 20px;">อาร์เซนอล vs ลิเวอร์พูล</td>
      <td style="padding-top: 20px;" class="ml-3"> <a href="#" class="next round" style="float: right;">&#8250;</a></td>
    </tr>

    <tr>
      <th style="font-size: 14px; padding-top: 20px;">11 พ.ค.</th>
      <td style="padding-top: 20px;"><img src="assets/photo/premier.png" alt="premier" style="height: 30px; width: 30px;"></td>
      <td style="font-size: 16px; padding-top: 20px;">อาร์เซนอล vs ลิเวอร์พูล</td>
      <td style="padding-top: 20px;" class="ml-3"> <a href="#" class="next round" style="float: right;">&#8250;</a></td>
    </tr>

    <tr>
      <th style="font-size: 14px; padding-top: 20px;">11 พ.ค.</th>
      <td style="padding-top: 20px;"><img src="assets/photo/premier.png" alt="premier" style="height: 30px; width: 30px;"></td>
      <td style="font-size: 16px; padding-top: 20px;">อาร์เซนอล vs ลิเวอร์พูล</td>
      <td style="padding-top: 20px;" class="ml-3"> <a href="#" class="next round" style="float: right;">&#8250;</a></td>
    </tr>

    <tr>
      <th style="font-size: 14px; padding-top: 20px;">11 พ.ค.</th>
      <td style="padding-top: 20px;"><img src="assets/photo/premier.png" alt="premier" style="height: 30px; width: 30px;"></td>
      <td style="font-size: 16px; padding-top: 20px;">อาร์เซนอล vs ลิเวอร์พูล55</td>
      <td style="padding-top: 20px;" class="ml-3"> <a href="#" class="next round" style="float: right;">&#8250;</a></td>
    </tr>
    
  </tbody>
</table>
