<div class="col-12 col-sm-6" style="padding: unset;">
    <div class="card card-primary card-outline card-outline-tabs">
      <div class="card-header p-0 border-bottom-0">
  
        <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist" style="padding-left: 5px; font-size: 8px;">
          <li class="nav-item fa fa-arrow-left fa-w-14" style="padding-top: 12px;"></li>

          <li class="nav-item">
            <a class="nav-link" id="custom-tabs-four-home-tab" data-toggle="pill" href="#custom-tabs-four-home" role="tab"
              aria-controls="custom-tabs-four-home" aria-selected="true">สัปดาห์ 23</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" id="custom-tabs-four-profile-tab" data-toggle="pill" href="#custom-tabs-four-profile"
              role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false">สัปดาห์ 24</a>
          </li>
  
          <li class="nav-item active">
            <a class="nav-link" id="custom-tabs-four-messages-tab" data-toggle="pill"
              href="#custom-tabs-four-messages" role="tab" aria-controls="custom-tabs-four-messages"
              aria-selected="false">สัปดาห์ 25</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" id="custom-tabs-four-settings-tab" data-toggle="pill" href="#custom-tabs-four-settings"
              role="tab" aria-controls="custom-tabs-four-settings" aria-selected="false">สัปดาห์ 26</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" id="custom-tabs-four-settings-tab" data-toggle="pill" href="#custom-tabs-four-settings"
              role="tab" aria-controls="custom-tabs-four-settings" aria-selected="false">สัปดาห์ 26</a>
          </li>
          <li class="nav-item fa fa-arrow-right fa-w-14" style="padding-top: 12px;"></li>
          
        </ul>
  
      </div>
    </div>
  </div>
