<nav class="navbar-gradient">
  <div class="col-md-12">
    <img class="icon" src="assets/logo/Bundesliga.png">&nbsp;
    <h5 class="title">บุนเดสลีกา เยอรมัน</h5>

    <div class="dropdown">
      <p class="text-right">ทีม</p>
      <button class="dropbtn"><i class="fa fa-arrow-circle-down"></i></button>
      <div class="dropdown-content text-center">
        <div class="row">
          <a href="#"><img
              src="https://www.livesoccer888.com/images/teams/24x24/Bayer-Leverkusen.png"><br><br>เลเวอร์คูเซ่น</a>
          <a href="#"><img src="https://www.livesoccer888.com/images/teams/24x24/Paderborn.png"><br><br>พาเดอร์บอร์น</a>
          <a href="#"><img src="https://www.livesoccer888.com/images/teams/24x24/Hoffenheim.png"><br><br>ฮอฟเฟ่นไฮม์</a>
          <a href="#"><img src="https://www.livesoccer888.com/images/teams/24x24/FC-Cologne.png"><br><br>โคโญจน์</a>
        </div>

        <div class="row">
          <a href="#"><img
              src="https://www.livesoccer888.com/images/teams/24x24/Eintracht-Frankfurt.png"><br><br>แฟร้งค์เฟิร์ต</a>
          <a href="#"><img src="https://www.livesoccer888.com/images/teams/24x24/Bayern-Munich.png"><br><br>บาเยิร์น</a>
          <a href="#"><img
              src="https://www.livesoccer888.com/images/teams/24x24/Borussia-Dortmund.png"><br><br>ดอร์มุนท์</a>
          <a href="#"><img src="https://www.livesoccer888.com/images/teams/24x24/Werder-Bremen.png"><br><br>เบรเมน</a>
        </div>

        <div class="row">
          <a href="#"><img src="https://www.livesoccer888.com/images/teams/24x24/Mainz-05.png"><br><br>ไมนซ์ 05</a>
          <a href="#"><img
              src="https://www.livesoccer888.com/images/teams/24x24/Borussia-Monchengladbach.png"><br><br>มึนเซ่นกลัคบัค</a>
          <a href="#"><img src="https://www.livesoccer888.com/images/teams/24x24/Wolfsburg.png"><br><br>โวล์ฟสบวร์ก</a>
          <a href="#"><img src="https://www.livesoccer888.com/images/teams/24x24/Schalke-04.png"><br><br>ชาเก้ 04</a>
        </div>

        <div class="row">
          <a href="#"><img src="https://www.livesoccer888.com/images/teams/24x24/Freiburg.png"><br><br>ไฟร์บวร์ก</a>
          <a href="#"><img src="https://www.livesoccer888.com/images/teams/24x24/Hertha-Berlin.png"><br><br>แฮร์ธ่า
            เบอร์ลิน</a>
          <a href="#"><img src="https://www.livesoccer888.com/images/teams/24x24/Augsburg.png"><br><br>เอาก์สบวร์ก</a>
          <a href="#"><img src="https://www.livesoccer888.com/images/teams/24x24/RB-Leipzig.png"><br><br>ไลป์ซิก</a>
        </div>

        <div class="row">
          <a href="#"><img
              src="https://www.livesoccer888.com/images/teams/24x24/Fortuna-Dusseldorf.png"><br><br>ดุสเซลดอร์ฟ</a>
          <a href="#"><img src="https://www.livesoccer888.com/images/teams/24x24/1-FC-Union-Berlin.png"><br><br>ยูเนี่ยน
            เบอร์ลิน</a>
        </div>

      </div>
    </div>
  </div>

  <div class="col-md-12 no-padding">
    <div class="tab">
      <ul class="nav headnav-tab text-center" id="tab">
        <li class="active"><a data-toggle="tab" href="#inger1">ข่าว</a></li>
        <li><a data-toggle="tab" href="#inger2">วิเคราะห์</a></li>
        <li><a data-toggle="tab" href="#inger3">แมตซ์</a></li>
        <li><a data-toggle="tab" href="#inger4">ตาราง</a></li>
        <li><a data-toggle="tab" href="#inger5">สถิติ</a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="box-body" style="padding-top: 110px;">
  <div class="tab-content">
    <div class="tab-pane active" id="inger1">
      <app-new-ger></app-new-ger>
    </div>

    <div class="tab-pane" id="inger2">
      <app-analyze-ger></app-analyze-ger>
    </div>

    <div class="tab-pane" id="inger3">
      <app-match-ger></app-match-ger>
    </div>

    <div class="tab-pane" id="inger4">
      <app-table-ger></app-table-ger>
    </div>

    <div class="tab-pane" id="inger5">
      <app-statis-ger></app-statis-ger>
    </div>
  </div>
</div>