<footer class="main-footer footer" style="margin-left: unset;">

    <nav class="navbar bg-dark menu">

        <a class="nav-item nav-link" routerLink="new" routerLinkActive="active">
            <img src="assets/icon/News-1.png" style="width:30px;height:30px">
            <p>ข่าว</p>
        </a>

        <a class="nav-item nav-link" routerLink="analyze" routerLinkActive="active">
            <img src="assets/icon/analysis-1.png" style="width:30px;height:30px">
            <p>วิเคราะห์บอล</p>
        </a>

        <a class="nav-item nav-link" routerLink="fixture" routerLinkActive="active">
            <img src="assets/icon/Stadium-1.png" style="width:30px;height:30px;">
            <p>แมตช์</p>
        </a>

        <a class="nav-item nav-link" routerLink="table" routerLinkActive="active">
            <img src="assets/icon/Cup-1.png" style="width:30px;height:30px;">
            <p>ตารางคะแนน</p>
        </a>

        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
            <img src="assets/icon/baseline_reorder_white_18dp.png" style="width:30px;height:30px;">
            <p>เมนู</p>
        </a>
    </nav>
</footer>
  
<aside class="control-sidebar" style="width: 100%; top: 0px; background-color: #15985ef7;">

    <div class="row" style="padding-top: 50px; padding-left: 50px;">
        <img src="assets/photo/livescore888.png" style="width:50px;height:50px">
        <h2 style="color:white; padding: 10px;">LIVESOCCER888</h2>
    </div>

    <ul style="color: white; font-size: 22px;">
        <li>พรีเมียร์ลีก</li>
        <li>ลาลีกา</li>
        <li>เซเเรีย อา</li>
        <li>บุนเดสลีกา</li>
        <li>ลีกเอิง</li>
        <li>ไทยลีก</li>
        <li>เจลีด</li>
        <ul>
            <li>ยูฟ่า แชมป์เปียนส์ ลีก</li>
            <li>ยูฟ่า ยูฟ่าโรปา ลีก</li>
            <li>แชมป์เปียนส์ชิพ อังกฤษ</li>
        </ul>
        <li>คลิปไฮไลท์</li>
    </ul>
</aside>