<app-tap-top></app-tap-top>

<div class="div center">
    <p class="head">ดาวซัลโว</p>
    <div class="div">1111</div>
    <div class="div">1111</div>
    <div class="div">1111</div>
    <div class="div rigth">ดูทั้งหมด > &nbsp;</div>
</div>

<div class="div center" style="padding-top: 20px;">
    <p class="head">แอวซิสต์</p>
    <div class="div">2222</div>
    <div class="div">2222</div>
    <div class="div">2222</div>
    <div class="div rigth">ดูทั้งหมด > &nbsp;</div>
</div>

<div class="div center" style="padding-top: 20px;">
    <p class="head">คลีนชีส</p>
    <div class="div">3333</div>
    <div class="div">3333</div>
    <div class="div">3333</div>
    <div class="div rigth">ดูทั้งหมด > &nbsp;</div>
</div>