/* You can add global styles to this file, and also import other style files */

/* @import 'https://fonts.googleapis.com/css?family=Kanit|Prompt'; */

@import url('https://fonts.googleapis.com/css?family=Kanit|Prompt');

body{
    font-family: 'Prompt', sans-serif;
}
/* 
h1,h2,h3{
    font-family: 'Prompt', sans-serif;
} */


/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */


/* .nav {
    background-color: #1C582C;
    height: 55px;
} */