<nav class="navbar nav bg">
    <div class="col-md-12">
        <p class="head">ข่าว</p>
    </div>
</nav>


<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/new/Everton-FC.png" alt="Los Angeles" width="375" height="268">
        </div>
        <div class="carousel-item">
            <img src="assets/new/Manchester-United-1.png" alt="Chicago" width="375" height="268">
        </div>
        <div class="carousel-item">
            <img src="assets/new/Paul-Pogba.png" alt="New York" width="375" height="268">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>

<table class="table">
    <tbody>

        <tr>
            <td><a routerLink="/read-new"><img
                        src="assets/new/Manchester-United-1.png" alt="" style="width: 150px; height: 78px;"></a>
            </td>
            <td><a routerLink="/read-new">แข้ง “ปีศาจแดง”
                    ตรวจโควิด-19 ก่อนเริ่มซ้อมวีคนี้</a></td>
        </tr>

        <tr>
            <td><a href="https://www.livesoccer888.com/bundesliga/news/view.php?id=15682" target="_blank"><img
                        src="assets/new/Werder-Bremen_VS_Bayer-Leverkusen.jpg" alt=""
                        style="width: 150px; height: 78px;"></a></td>
            <td><a href="https://www.livesoccer888.com/bundesliga/news/view.php?id=15682" target="_blank">เลเวอร์คูเซ่น
                    ตั้งเป้าล่าชัยต่อเกมเยือน เบรเมน</a></td>
        </tr>

        <tr>
            <td><a href="https://www.livesoccer888.com/bundesliga/news/view.php?id=15683" target="_blank"><img
                        src="assets/new/Robert-Lewandowski.png" alt="" style="width: 150px; height: 78px;"></a></td>
            <td><a href="https://www.livesoccer888.com/bundesliga/news/view.php?id=15683" target="_blank">เลวานดอฟสกี้ สถิติโหดยิงเกิน
                    40 ตุง 5 ซีซั่นติด</a></td>
        </tr>

        <tr>
            <td><a href="https://www.livesoccer888.com/bundesliga/news/view.php?id=15681" target="_blank"><img
                        src="assets/new/1-FC-Union-Berlin_VS_Bayern-Munich.jpg" alt=""
                        style="width: 150px; height: 78px;"></a></td>
            <td><a href="https://www.livesoccer888.com/bundesliga/news/view.php?id=15681" target="_blank">บาเยิร์น
                    งานเบาส่งอาวุธหนักเยือน ยูเนี่ยน เบอร์ลิน</a></td>
        </tr>

        <tr>
            <td><a href="https://www.livesoccer888.com/bundesliga/news/view.php?id=15680" target="_blank"><img
                        src="assets/new/SV-Werder-Bremen.png" alt="" style="width: 150px; height: 78px;"></a></td>
            <td><a href="https://www.livesoccer888.com/bundesliga/news/view.php?id=15680" target="_blank">บุนเดส ระส่ำ คนสนิทแข้ง เบรเมน
                    ติดโควิด-19</a></td>
        </tr>

    </tbody>
</table>