<app-tap-top></app-tap-top>

<div role="group" aria-label="Basic example">
    <div class="col-md-12" style="padding-top: 20px; padding-bottom: 20px; text-align: center;">
        <button type="button" class="btn btn-secondary">ทังหมด</button>
        <button type="button" class="btn btn-secondary">เจ้าบ้าน</button>
        <button type="button" class="btn btn-secondary">ทีมเยือน</button>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>อันดับ</th>
            <th>ทีม</th>
            <th></th>
            <th>แข่ง</th>
            <th>ผลต่าง</th>
            <th>คะแนน</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
        </tr>
    </tbody>
</table>