.head {
    font-size: 20px;
    text-align: center;
    color: white;
}

.btn {
border-radius: unset;
}

li {
    font-size: 12px;
}

.card-primary.card-outline-tabs>.card-header a.active {
    border-bottom: 3px solid #007bff;
    border-top: unset;
}

th {
    font-size: 11px;
    /* padding: unset; */
}



